.AddComment {
	width: 100%;
	display: flex;
	position: sticky;

	&__profile {
		padding-right: 1rem;
		img {
			width: 3rem;
			height: 3rem;
			background-size: cover;
			border-radius: 50%;
		}
	}
	form {
		width: 100%;

		textarea {
			width: 100%;
			padding: 0.2rem;
		}

		button {
			background-color: #fff333;
			outline: none;
			border: none;
			font-weight: bold;
			font-family: inherit;
			cursor: pointer;
			padding: 0.5rem;
		}
	}
}

.CommentContainer {
	width: 100%;
	padding: 0.5rem;
}

.CommentList {
}

.Comment {
	height: 4rem;
	display: flex;
	padding: 0.5rem;
	&__profile {
		img {
			width: 2.8rem;
			height: 2.8rem;
			border-radius: 50%;
		}
	}

	&__actions {
		margin: 0 auto;
		align-self: center;
		button {
			background-color: #fff333;
			outline: none;
			border: none;
			font-weight: bold;
			font-family: inherit;
			cursor: pointer;
			padding: 0.5rem;
		}
	}
}
