.AddComment {
	width: 100%;
	display: flex;

	&__profile {
		padding-right: 1rem;
		img {
			width: 3rem;
			height: 3rem;
			background-size: cover;
			border-radius: 50%;
		}
	}
	form {
		width: 100%;

		textarea {
			width: 100%;
			padding: 0.2rem;
		}

		button {
			background-color: #1d1d8a;
			color: white;
			outline: none;
			border: none;
			font-weight: bold;
			font-family: inherit;
			cursor: pointer;
			padding: 0.5rem;
		}
	}
}

.CommentContainer {
	width: 100%;
	padding: 0.5rem;
}

.CommentList {
}

.Comment {
	display: flex;
	padding: 0.5rem;
	background-color: #fff;
	border-radius: 5px;
	margin: 0.5rem 0;
	&__profile {
		margin-right: 0.5rem;
		align-self: center;
		img {
			width: 2.8rem;
			height: 2.8rem;
			border-radius: 50%;
		}
	}
	&__details {
		&--username {
			a {
				font-weight: 600;
				text-decoration: none;
				color: black;

				&:hover {
					text-decoration: underline;
				}
			}
		}
		&--comment {
			padding-top: 0.5rem;
			font-size: 0.9rem;
		}
		&--time {
			padding-top: 0.5rem;
			color: grey;
			font-size: 0.5rem;
		}
	}

	&__actions {
		margin-left: auto;
		align-self: center;
		button {
			outline: none;
			border: none;
			font-weight: bold;
			color: #fff;
			font-family: inherit;
			cursor: pointer;
			padding: 0.5rem;
			margin-right: 0.2rem;
		}

		.button-edit {
			background-color: #868135;
		}
		.button-delete {
			background-color: #9b2731;
		}
	}
}
