.search {
	&__results {
		margin-top: 10px;
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 200px;
		border-radius: 5px;
		z-index: 100;
		overflow-y: auto;
		box-shadow: 1px 1px 4px black;
	}
}
