$stuble-black: #acacac;
.card {
	margin: 0.5rem;
	padding: 0.5rem;
	background-color: #fff;
	border-radius: 2px;
	border: 1px;
	&__header {
		border-bottom: 1px solid $stuble-black;
		display: flex;
		align-items: center;
		&--profile-picture {
			img {
				width: 2.5rem;
				height: 2.5rem;
				border-radius: 50%;
			}
		}
		&--username {
			margin-left: 1rem;
			a {
				color: black;
				font-weight: 600;
			}
		}

		&--actions {
			display: flex;
			width: 30%;
			margin-left: auto;
		}
	}

	&__image {
		img {
			width: 100%;
		}
	}

	@media only screen and (min-width: 600px) {
		width: 600px;
		margin-left: auto;
		margin-right: auto;
	}

	@media only screen and (min-width: 720px) {
		margin-left: 0;
		margin-right: 0;
	}
}
.comments {
	padding: 0.5rem;
	ul {
		list-style: none;
	}
	&__option {
		font-weight: 100;
	}

	&__username {
		color: #000;
		font-weight: 500;
		display: inline;
	}

	&__comment {
		display: inline;
	}
}
