.ShowPhoto {
	padding-top: 1rem;
	&__image {
		text-align: center;
		img {
			width: 50%;
		}
	}

	&__creator {
		padding: 1rem;
		background-color: #fff;
		display: flex;
		align-items: center;

		img {
			width: 4rem;
			height: 4rem;
		}

		&--username {
			font-size: 1.3rem;
			font-weight: 500;
			margin-right: 1rem;
		}
	}
}
